*, *:after, *:before {
	box-sizing: border-box;
}
body {
	font-family: Helvetica, sans-serif;
}
.active {
	color: red;
}
.gallery {
	display: flex;
	> div {
		text-align: center;
		flex-basis: 50%;
	}
}